/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.DS_Store
.idea
*.iml
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
js/cljsjs
js/src
js/node_modules
src/js
js/externs.js